<form [formGroup]="fg"
  (ngSubmit)="guardar2(fg.controls['nombre'].value ,fg.controls['url'].value)">

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
      [formControl]="fg.controls['nombre']">

    <div class="text-danger">
      <span *ngIf="!fg.controls['nombre'].valid">Nombre invalido</span>
      <span *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</span>

    </div>
  </div>

  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar	url..."
      [formControl]="fg.controls['url']">

    <div class="text-danger">
      <span *ngIf="!fg.controls['url'].valid">URL invalido</span>
      <span *ngIf="fg.controls['url'].hasError('required')">URL requerido</span>

    </div>
  </div>
  <button type="submit" class="btn	btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
