<div class="container	content">

  <div class="row">

    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->

      <div class="card	card-outline-secondary">

        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>

        <div class="card-body">
          <app-form-destino-viaje (onItemAdded)=guardar($event)></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">

  <div class="row">
    <h2>Destinos disponibles</h2>
  </div>

  <div class="row">
    <ul>
      <app-destino-viaje-texto *ngFor="let i of destinos" [destino]="i">
      </app-destino-viaje-texto>
    </ul>
  </div>

  <div class="row">
    <h2>Descripciones</h2>
  </div>

  <div class="row">
    <!-- Listener Boton favorito se ejecutara cuando un destino genere tal eveto-->
    <app-destino-viaje *ngFor="let i of destinos" [destino]="i"
      (listenerBotonFavorito)="elegido(i)"></app-destino-viaje>
  </div>
</div>
